body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
}
header{
    color: bisque;
    font-size: 40px;
    text-align: center;
    outline: 3px solid bisque;
}
.clock.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}